:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

html,
body {
  height: 100%;
  font-family: monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-color: #eee2dc;
}

.messageContainer {
  padding-bottom: 1rem;
}

#message,
#newGame {
  display: grid;
  grid-template-rows: 50px, 50px;
  align-items: center;
  justify-items: center;
}
.difficulty {
  padding-top: 1rem;
  text-align: center;
}

#newGame {
  padding-top: 1rem;
}

#message p {
  font-size: 2.5rem;
  margin: 0.3rem;
}
#message {
  background-color: grey;
  border: #585454;
  margin-bottom: 0.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 2.5rem;
}
.container {
  background-color: rgba(134, 113, 141, 0.62);
  border-radius: 2%;
  padding: 3rem;
  margin-top: 3rem;
}
.board {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.2rem;
  justify-content: center;
  align-content: center;
  margin: 0;
}
button {
  display: inline-block;
  border: none;
  background: none;
  padding: 0.8rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #c0c0c0;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  outline: none;
  border-radius: 2px;
}

button:hover,
button:focus {
  background: #b3b7bd;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.board div {
  color: rgb(40, 27, 85);
  background-color: white;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: #a29b9b;
}

.board div:hover {
  background-color: white;
  cursor: pointer;
}

div.mine,
div.mine:hover {
  background: no-repeat center/80% url("images/rocket.svg") white;
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #ccc;
}

div.marked,
div.marked:hover {
  background: no-repeat center/80% url("images/mine.svg") white;
}
